{% extends 'base.html' %}

{% block title %}
    Details for contact {{ contact.id }}
{% endblock title %}

{% block content %}
<a href="{% url 'currency:contactus-create' %}">Create</a><br>

<table>
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>URL</th>-->
<!--    </tr>-->

    <tr>
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.source_url }}</td>
        <td><a href="{% url 'currency:contactus-update' contact.id %}">Edit</a></td>
        <td><a href="{% url 'currency:contactus-delete' contact.id %}">Delete</a></td>
    </tr>

</table>


{% endblock content %}