{% extends 'base.html' %}

{% block title %}
    Sources List
{% endblock title %}

{% block content %}
<a href="/source/create/">Create</a><br>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
    </tr>

    {% for source in sources %}
    <tr>
        <td>{{ source.id }}</td>
        <td>{{ source.name }}</td>
        <td>{{ source.source_url }}</td>
        <td><a href="/source/update/{{ source.id }}/">Edit</a></td>
        <td><a href="/source/delete/{{ source.id }}/">Delete</a></td>
        <td><a href="/source/details/{{ source.id }}/">Details</a></td>
    </tr>
    {% endfor %}

</table>


{% endblock content %}